<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Product Page Template</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="css/vendor/bootstrap.min.css">
<link href="css/options.css" rel="stylesheet" type="text/css">
<link href="css/vendor/ng-tags-input.min.css" rel="stylesheet" type="text/css">
<!-- <link href="css/vendor/bootstrap-switch.min.css" rel="stylesheet" type="text/css"> -->
<link href="css/vendor/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="site-body" style="padding-top: 70px">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Formbot</a></div>
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container" ng-app="FormbotApp">
	<div class="config-container " ng-controller="optionsController">
    <div class="row table-row">
    	<div class="col-md-4 col-sm-6 config-tile" ng-repeat="option in options | orderBy: 'value.priority'">
      	<div class="well">
        	<h3>{{option.name}}</h3>
          <div class="row">
          	<h5>Matching keywords</h5>
          </div>
          <div class="row">
            <tags-input ng-model="option.value.includes">
          </div>
          <hr>
          <div class="row">
            <h5>Excluded keywords</h5>
          </div>
          <div class="row">
            <tags-input ng-model="option.value.excludes">
          </div>
          <hr>
          <div class="row">
          	<h5 class="pull-left">Data to use</h5>
			      <input
              bs-switch
              ng-model="option.value.unique"
              type="checkbox"
              switch-on-text="'Random'"
              switch-off-text="'Defined'"
              switch-on-color="{{ on }}"
              switch-off-color="{{ off }}"
              switch-radio-off="{{ radioOff }}"
              switch-change="changeChecked(option)">
            <!-- <input id="switch-size" type="checkbox" checked name="switch" class="pull-right switch"
                      data-on-text="Random" data-off-text="Default" data-on-color="info" data-off-color="info" data-size="small"> -->
          </div>
          <hr>
          <div class="row">
            <input type="text" value="john" ng-disabled="" class="col-md-12">          
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 config-tile new">
      <div class="well">
        <a href=""><i class="fa fa-plus-circle fa-5x"></i></a>
      </div>
      </div>
    </div>
  </div>
</div>
<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright © Maria Stellini. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="js/vendor/angular.min.js"></script>

<script type="text/javascript" src="js/app/optionsController.js"></script>
<script src="https://widget.uservoice.com/2zd17UX6LjTX7V5WNyqrlw.js" defer></script>
<script type="text/javascript" defer src="js/externalScripts.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/vendor/ng-tags-input.min.js"></script>
<script src="js/vendor/angular-bootstrap-switch.min.js"></script>
</body>
</html>
