<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Formbot Configuration</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="css/vendor/bootstrap.min.css">
<link href="css/options.css" rel="stylesheet" type="text/css">
<link href="css/vendor/ng-tags-input.min.css" rel="stylesheet" type="text/css">
<link href="css/vendor/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/vendor/angular-toggle-switch.css">

</head>
<body class="site-body" style="padding-top: 70px">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Formbot</a></div>
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container" ng-app="FormbotApp">
	<div class="config-container ng-cloak" ng-controller="optionsController">
    <div class="row table-row">
    	<div class="col-md-4 col-sm-6 config-tile" ng-repeat="option in options | orderBy: 'value.priority'">
      	<div class="well">
        	<h3>{{option.name}}</h3>
          <div class="row">
          	<h5>Matching keywords</h5>
          </div>
          <div class="row">
            <tags-input ng-model="option.value.includes">
          </div>
          <hr>
          <div class="row">
            <h5>Excluded keywords</h5>
          </div>
          <div class="row">
            <tags-input ng-model="option.value.excludes">
          </div>
          <hr>
          <div class="row">
          	<h5 class="pull-left">Data to use</h5>
			      <toggle-switch ng-model="option.value.uniqueConfig" on-label="Random" off-label="Pre-Set" class="pull-right"><toggle-switch>
          </div>
          <div class="row">
            <input type="text" value="john" ng-disabled="option.value.uniqueConfig" class="col-md-12">          
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 config-tile new">
      <div class="well">
        <a href=""><i class="fa fa-plus-circle fa-5x"></i></a>
      </div>
      </div>
    </div>
  </div>
</div>
<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright © Maria Stellini. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="js/vendor/angular.min.js"></script>

<script type="text/javascript" src="js/app/optionsController.js"></script>
<script src="https://widget.uservoice.com/2zd17UX6LjTX7V5WNyqrlw.js" defer></script>
<script type="text/javascript" defer src="js/externalScripts.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/vendor/ng-tags-input.min.js"></script>
<script src="js/vendor/angular-toggle-switch.min.js"></script>
</body>
</html>
