body {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 13px;
  color: rgb(48, 57, 66);
}

.right {
  float: right;
}

.header {
  margin-top: 30px;
}

.container {
	margin-left: 20px;
}

.content {
  padding-left: 20px;
}

.section {
  margin: 30px 0px;
}

.row {
  width: 338px;
  display: block;
  margin: 5px 0px;
}

.row .cell {
  width: 160px;
  display: inline-block;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

footer {
	margin: 20px 0px;
	font-style: italic;
	color: grey;
}