body {
  font-family: "museo-sans" sans-serif !important;
  font-size: 14px !important;
  color: #474747 !important;
  width: 1024px;
  margin: 0 auto !important;
}

h2, h4 {
  font-family: ff-enzo-web, sans-serif !important;
  font-weight: 600 !important;
}

.header {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.configuration {
  margin-top: 30px;
  padding: 0px 15px;
}

.option {
  border-color: rgb(184, 184, 184);
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  height: 83px;
}

.bottom {
  border-bottom-width: 1px;
}

.even {
  background-color: rgb(245, 245, 245);
}

.option > .config {
  border-right: 1px solid rgb(184, 184, 184);
  text-align: center;
  cursor: pointer;
}

.option > div {
  height: 100%;
}

.option > div > * {
  position: relative;
  transform: translateY(85%);
}

.option > .settings > * {
  transform: translateY(20%) !important;
}

.settings > div {
  margin-top: 3px;
}

.edit {
  text-align: right;
  background-color: #7FDBFF;
}

.edit > span {
  font-weight: bold;
}

.green  {
  background-color: #A3C816;
}

.right {
  float: right;
}

.left {
  float: left;
}

footer {
  margin: 30px 0px;
  font-style: italic;
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='number'],
input[type='datetime'],
input[type='tel'],
input[type='password']
input[type='url'] {
  border: 1px solid #BFBFBF;
  border-radius: 2px;
  box-sizing: border-box;
  color: #444;
  font: inherit;
  margin: 0;
  min-height: 2em;
  padding: 3px;
  padding-bottom: 4px;
}

select:focus,
input[type='checkbox']:focus,
input[type='password']:focus,
input[type='radio']:focus,
input[type='search']:focus,
input[type='text']:focus,
button:focus {
  /* OVERRIDE */

  -webkit-transition: border-color 200ms;
  /* We use border color because it follows the border radius (unlike outline).
       * This is particularly noticeable on mac. */

  border-color: #4d90fe;
  outline: none;
}

/*.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {
  float: left;
}

.col-1 {

}*/