.option {
  border: 1px solid grey;
  width: 1024px;
  border-radius: 3px;
}

.option * {
  padding: 5px 0px 5px 0px;
}

.option .config {
  border-right: 1px solid grey;
  text-align: center;
  height: 70px;
}












body {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 13px;
  color: rgb(48, 57, 66);
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.header {
  margin-top: 30px;
}

.container {
	margin-left: 20px;
}

.section {
  margin: 30px 0px;
}

.row {
  width: 75%;
  display: block;
  margin: 5px 0px;
  vertical-align: middle;
}

tr {
  border: 1px solid gray;
}

tr td:first-child {
  text-align: right;
}

.row-border {
  border-radius: 2px;
  border: 1px solid #bfbfbf;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.subtitle {
  text-align: center;
  font-weight: bold;
}

footer {
	margin: 20px 0px;
	font-style: italic;
	color: grey;
}

input[type='number'], input[type='password'], input[type='search'], input[type='text'], input[type='url'], input[type='datetime'],
  input:not([type]), textarea {
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-sizing: border-box;
  color: #444;
  font: inherit;
  margin: 0;
  min-height: 2em;
  padding: 3px;
  outline: none;
  padding-bottom: 4px;
}